# Environment variables

ACCESS_SECRET=your-jwt acess secret-key

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_ENV_VARIABLE=

ENCRYPTION_KEY=

# Google/YouTube
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_API_KEY=

HOST_SMTP=
HUNTER_API_KEY=

IG_APP_NAME=
IG_APP_ID=
IG_APP_SECRET=


LIVE_MONGO_URI=
MONGODB_URI=

# MICROSOFT
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_CLIENT_SECRET_ID=
NODE_ENV=development

NORMAL_EMAIL=
NORMAL_EMAIL_PASSWORD=
NOREPLY_EMAIL=
NOREPLY_PASSWORD=

ZOHO_HTTP_EMAIL=

PAYSTACK_TEST_SECRET_KEY=your-PAYSTACK_TEST_SECRET_KEY-key
PAYSTACK_TEST_PUBLIC_KEY=your-PAYSTACK_TEST_PUBLIC_KEY-key
PORT=5001
REFRESH_SECRET=your-refresh-token-key
SITE_KEY=eq4309djshfkljjjjowie4urwertkwetroet4i234ioj23i4jr234
SERP_KEY=your-serp-key

SERVER_URL=
LIVE_SERVER_URL=
CLIENT_URL='http://localhost:5173' # https://www.thedm360.com
LIVE_CLIENT_URL=your-client-url
PROD_URL=your-server-prod-url

# ZOHO
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=


# // IN VIEW

# Redis (for queue management)
REDIS_HOST=
REDIS_PORT=

# Rate Limiting
ALLOWED_ORIGINS=http://localhost:5173,https://m360suites.netlify.app,https://www.thedm360.com,https://marketing.biz360prime.com

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET= # NOt added to secrets

# Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=https://yourdomain.com/api/oauth/callback
FACEBOOK_VERIFY_TOKEN=your-webhook-verify-token
FACEBOOK_APP_SECRET=

# Instagram
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_REDIRECT_URI=
INSTAGRAM_VERIFY_TOKEN=your-webhook-verify-token
INSTAGRAM_APP_SECRET=

# LinkedIn
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CLIENT_ID_2=
LINKEDIN_CLIENT_SECRET_2=
LINKEDIN_REDIRECT_URI=
LinkedIn_Version=

# Pinterest
PINTEREST_CLIENT_ID=
PINTEREST_CLIENT_SECRET=
PINTEREST_REDIRECT_URI=

# Slack
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

# TikTok
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=

# Twitter/X
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

# PRICING
CREATIVE_GENERATOR=
EMAIL_AUTOMATION=
SOCIAL_SCHEDULER=
COMMUNITY_MANAGER=
ADS_MANAGER=
SEO_TOOLKIT=

CREATIVE_GENERATOR_DOLLAR=
EMAIL_AUTOMATION_DOLLAR=
SOCIAL_SCHEDULER_DOLLAR=
COMMUNITY_MANAGER_DOLLAR=
ADS_MANAGER_DOLLAR=
SEO_TOOLKIT_DOLLAR=

BASE_PLAN_AMOUNT=